<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table border="2">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Actions</th>

    </tr>
    <tr>
        <td th:text="${user.id}">ID</td>
        <td th:text="${user.username}">Username</td>
        <td th:text="${user.password}">Password</td>
        <td>
            <a th:href="@{/admin/{id}/edit(id=${user.id})}">Edit</a>
            <form th:method="POST" th:action="@{/admin/delete}" style="display: inline;">
                <input type="hidden" name="id" th:value="${user.id}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
</table>
<div th:replace="~{logout :: logout}"></div>
</body>
</html>