<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table border="2" th:if="${user != null}">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td th:text="${user.id}">ID</td>
        <td th:text="${user.username}">Username</td>
        <td th:text="${user.password}">Password</td>
    </tr>
</table>
<p th:if="${user == null}">User not found</p>
</body>
<div th:replace="~{logout :: logout}"></div>
</html>